
.header__navigation{
	display: flex;
	justify-content: space-between;
}
.header__link{
	color: black;
	letter-spacing: 0.3em;
}
.header__title{
	text-align: center;
}
.header__text{
	font-size: 20px;
	letter-spacing: 0.2em;
	padding: 0px 70px;
	text-align: center;
}
.myth__title_underline{
	text-decoration: underline;
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
	font-weight: lighter;
}
.myth__text{
	font-size: 18px;
	padding: 0px 10px;
}
.split__text{
	padding: 0px 10px;
}
.footer{
	font-size: 12px;
}